<!DOCTYPE html>
<!-- Workshops Portal -->
{% load static %}
</body>
<html lang='en'>
<head>
  <title>Workshops</title>
  <meta charset="UTF-8">
  <meta name="description" content="Main page of Workshops">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <noscript>You need enable javascript to this site works properly</noscript>
</head>
<body>
  <nav id="navbar" class="row">
    <img class="col-3" src="{% static 'logo2.svg'  %}" style="position:relative; height:10%; float:left;" />
      <a href="https://github.com/navitux/workshops_project" target="_blank" style="text-decoration:none;"><button>Github</button></a>
      <a href=""><button id="login_button">Login</button></a>
      <a href=""><button id="signup_button">Signup</button></a>
  </nav>
  <h1>Welcome to Workshops, the e-learning tool</h1>
  <img src="{% static 'pet.svg'  %}"/>
  <div/>
  <div id="about">
    <h2>About</h2>
    <p align="justify">This is Workshops, is a project created to manage student lists and
      educational content in an easy and adaptable way from low income public
      schools (with low resource computers) to large courses with many students
      in an organization, company or a college compatible with each other,
      built under a free software license in Django.
    </p>
    <hr>
  </div>

  <section id="features">
    <h2>Features</h2>
    <ul>
      <li>Free and Open Source</li>
      <li>Easy to use</li>
      <li>Easy instalation</li>
    </ul>
    <hr>
  </section>

  <section id="contact">
    <h2>Contact</h2>
      <a href="mailto:navitux@disroot.org" style="none">
      navitux@disroot.org
      </a>
      <br>
      <a href="https://github.com/navitux/" target="_blank">
      github.com/navitux
      </a>
  </section>
</body>
</html>
