{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="fl w-50 dib pa2">
  <b>Login:</b>
  <form id="login" action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <label class="w-30" for="username">Username:</label>
    <br/>
    <input class="w-30" type="text" name="username" maxlength="150" required/>
    <br/>
    <label class="w-30" for="password">Password:</label>
    <br/>
    <input class="w-30" type="password" name="password" required />
    <br/>
    <button type="submit">Login</button>
  </form>
  <small>If you don't able to logging in, contact the administrator</small>
</section>

<section class="fr w-50 dib pa2">
  <b>Register an Account:</b>
  <form id="signup" class="" action="{% url 'signup' %}" method="post">
    {% csrf_token %}
    <label for="username_r">Username:</label>
    <br/>
    <input type="text" name="username_r" maxlength="150" required />
    <img
  	id="help-username_r"
  	src="{% static 'info.svg' %}"
  	class="img dib v-mid"
  	style="height:1.5em;"/>
      <br/>
    <br/>
    <label for="firstname">First name(s):</label>
    <br/>
    <input type="text" name="firstname" maxlength="150" required />
    <img
  	id="help-firstname"
  	src="{% static 'info.svg' %}"
  	class="img dib v-mid"
  	style="height:1.5em;"/>
    <br/>
    <label for="lastname">Last name(s):</label>
    <br/>
    <input type="text" name="lastname" maxlength="150" required />
    <img
  	id="help-lastname"
  	src="{% static 'info.svg' %}"
  	class="img dib v-mid"
  	style="height:1.5em;"/>
    <br/>
    <label for="email">E-mail:</label>
    <br/>
    <input type="email" name="email"/>
    <img
  	id="help-email"
  	src="{% static 'info.svg' %}"
  	class="img dib v-mid"
  	style="height:1.5em;"/>
    <br/>
    <label for="password1">Password:</label>
    <br/>
    <input type="password" name="password1" required/>
    <img
  	id="help-password1"
  	src="{% static 'info.svg' %}"
  	class="img dib v-mid"
  	style="height:1.5em;"/>
    <br/>
    <label for="password2">Confirm Password:</label>
    <br/>
    <input type="password" name="password2" required/>
    <br/>
    <button type="submit">Register</button>
  </form>
</section>

{% if success %}
<div class="alert-box success" style="color:black;">
	<span style="color:black;">success: </span>
	{{success}}
</div>
{% endif %}
{% if error %}
<div class="alert-box error" style="color:black;">
	<span style="color:black;">error: </span>
	{{error}}
</div>
{% endif %}
{% endblock %}
