{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<section class="fl w-50 dib pa4">
  <b>Create a New Course:</b>
  <form id="create_course" method="post" enctype="multipart/form-data">
    {{ form.as_p }}
		{% csrf_token %}
		<br>
		<br>
    <button type="submit">Create New Course</button>
  </form>
</section>

{% if success %}
<div class="alert-box success" style="color:black;">
	<span style="color:black;">success: </span>
	{{success}}
</div>
{% endif %}
{% if error %}
<div class="alert-box error" style="color:black;">
	<span style="color:black;">error: </span>
	{{error}}
</div>
{% endif %}
{% endblock %}
